#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.App {
  /* bakgrundsbild*/
  background-image: url('./assets/backgroundpicture.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;


  /* layout */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /* Spacing */
  padding: 3rem, 2rem, 5rem, 2rem;

  overflow-x: hidden;
}

.page-container {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 0 auto;
}

.page-container-tables {
  width: 100%;
  width: 900px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Responsiv design */
@media (max-width: 768px) {
  .page-container {
    max-width: 100%;
    padding: 0 1rem;
  }
  
  .App {
    padding: 2rem 1rem 3rem 1rem;
  }
  
  .wind-compass {
    margin-left: 0;
    margin-top: 1rem;
  }
}

